language: java
jdk:
  - oraclejdk8
before_install:
  - wget https://github.com/github/hub/releases/download/v2.2.9/hub-linux-386-2.2.9.tgz
  - shasum -a 256 -c ./sha256.txt
  - tar -xvzf hub-linux-386-2.2.9.tgz
  - export PATH=${PATH}:$PWD/hub-linux-386-2.2.9/bin/
  - nvm install 6.9.1
  - cd ./npm
  - npm i -g makeshift && makeshift -r https://registry.npmjs.org
install:
  - npm install
script:
  - npm run lint
  - npm test
  - npm run coveralls
  - npm run testint
  - ../deploy.sh
branches:
  only:
  - develop
  - master